{{#each movies}}
<div  class="col-md-3 col-xs-12 movie-margin">
  <div class="col-md-12 col-xs-12 movie-info ">
    <div class="row posterRow">
      <div class="poster col-md-12"> <img src="http://3.bp.blogspot.com/_d1kmRW3xVDk/SxMzSTEMPjI/AAAAAAAAAas/RH5vXzCzZ-I/s1600/posterblank01.gif" width="170" height="200"> </div>
    </div> <!-- posterRow-->
    <div class="row titleRow">
      <div class="movieTitle col-md-12"> <h4>{{title}}</h4><h6>( {{year}} )</h6></div>
    </div> <!-- titleRow-->

    <div class="row actorRow">
      <div class="actors col-md-12 col-sm-12 col-xs-12"><p class="text-left">Starring: {{actors}}</p></div>
    </div><!--actorRow -->

    <div class="row ratingButtonDiv">
        <div class="rating col-md-5 col-sm-5 col-xs-5"><p>Rating: {{rating}}</p></div>
        <div class="button button-padding col-md-5 col-sm-5 col-xs-5 col-md-offset-2">
            <button class="btn btn-md delButton"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </div> <!-- button div -->
    </div> <!-- rating & button row-->
  </div> <!-- movie info div -->
</div> <!-- movie margin div -->
{{/each}}

